.simulador-curricular {
    overflow-x: auto;
    display: flex;
    transition: margin-left 0.3s ease;
}

.menu-visible .simulador-container, .menu-visible .header {
    margin-left: 310px;
    /* Ajustar este valor según el ancho del menú lateral */
}

.sidebar {
    width: 300px;
    background-color: #f8f9fa;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -300px;
    transition: left 0.3s ease;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar.visible {
    left: 0;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.simulador-container {
    display: flex;
    flex-wrap: nowrap;
    /* Usar flexbox para las columnas */
}

.semestre-columna {
    margin: 4px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
}

.contenido-semestre {
    display: flex;
    height: auto;
    flex-grow: 1;
}

.practica-columna {
    background-color: #e9f7ef;
    width: 50px;
    padding: 0px;
    border: 1px solid #28a745;
    border-radius: 5px;
    margin-right: 10px;
    flex-wrap: 0;
}

.ulAsignaturas {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.ulPracticas {
    padding: 0px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ilPracticas {
    text-align: center;
    display: flex;
    width: 100%;
    transform: rotate(90deg);
    color: #555;
    white-space: nowrap;
}

.ilAsignaturas {
    text-align: center;
    padding: 5px;
    color: #555;
}

.cuadro {
    min-width: 150px;
    padding: 10px;
    border: 1px solid #007bff;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: #f1f1f1;
}

h3 {
    text-align: center;
    font-size: 1.2rem;
    color: #333;
    white-space: nowrap;
}

/* Ajustes de interacción y simulación */
.cuadro:hover {
    background-color: #e0e7ff;
    cursor: pointer;
    transition: background-color 0.2s;
}

.cuadro.simulado {
    background-color: #d4edda;
    border-color: #28a745;
    color: #155724;
}

ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}
