.simulador {
    overflow-x: auto;
    display: flex;
    transition: margin-left 0.3s ease;
    background-color: #f0f0f0; /* Fondo gris desde el botón "Activar Menú" hacia abajo */
    padding: 20px;
    min-height: 100vh; /* Extender hasta el fondo de la pantalla */
    overflow-x: auto;
    display: flex;
    transition: margin-left 0.3s ease;
    background-color: #f0f0f0;
    padding: 20px;
    min-height: 50vh; /* Ocupa el 90% de la altura de la pantalla */
}

.simulador-container {
    display: flex;
    flex-wrap: nowrap;
}

.ulAsignaturas {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.ulPractica {
    padding: 0px;
    height: 100%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.ilPractica {
    text-align: center;
    display: flex;
    width: 100%;
    transform: rotate(90deg);
    color: #000000;
    white-space: nowrap;
}

.ilAsignatura {
    text-align: center;
    padding: 5px;
    color: #555;
}

/* Ajustes de interacción y simulación */
.cuadro:hover {
    background-color: #e0e7ff;
    cursor: pointer;
    transition: background-color 0.2s;
}
